<h1>Flights</h1>
<div class="form">
  <%= form_with url: "/flights", method: :get do |form| %>
    <%= select_tag(:origin_id, options_for_select(@airport_options), prompt: "Origin") %>

    <%= select_tag(:destination_id, options_for_select(@airport_options), prompt: "Destination") %>

    <%= select_tag(:date, options_for_select(@date_options), prompt: "Date", required: true) %>

    <%= select_tag(:passengers, options_for_select(1..10), prompt: "Passengers") %>

    <%= form.submit "Search", :class => "button" %>
  <% end %>
</div>
<% @flights.each do |flight| %>
  <p>
    <%= flight.time.strftime("%l:%M%P") %> -
    <%= (flight.time + flight.duration.minutes).strftime("%l:%M%P") %><br>
  </p> 
<% end %>