<div class="bookings">
  <div class="form">
    <h2>Traveler Details</h2>
    <%= form_with model: @booking do |form| %>
      <%= form.hidden_field :flight, :value => params[:flight] %>
      <%= form.fields_for :passengers do |sub_form| %>
        <h4>Passenger <%= sub_form.options[:child_index] + 1 %></h4>
        <%= sub_form.text_field :first_name, required: true, placeholder: "First Name" %><br>

        <%= sub_form.text_field :last_name, required: true, placeholder: "Last Name" %><br>

        <%= sub_form.text_field :email, required: true, type: "email", placeholder: "Email Address" %><br>
      <% end %>
      <%= form.submit "Submit", :class => "button" %>
    <% end %>
  </div>
  <%= render 'flight_summary' %>
</div>