<div class="bookings">
  <div class="form">
    <h2>Confirmation</h2>
    <% @booking.passengers.each do |passenger| %>
      First Name: <%= passenger.first_name %><br>
      Last Name: <%= passenger.last_name %><br>
      Email: <%= passenger.email %><br>
    <% end %>
  </div>
  <div class="flight">
    <%= @flight.time.strftime("%l:%M%P") %> -
    <%= (@flight.time + @flight.duration.minutes).strftime("%l:%M%P") %><br>
    <%= @flight.time.strftime("%m/%d/%Y") %><br>
    <%= @origin.code %><br>
    <%= @destination.code %><br>
  </div>
</div>